body {
	overflow-x: hidden; /*--right gutter fix--*/
    font-family: sans-serif;
    color: #505962;
}


.navbar {
	background-color: black;
    text-transform: uppercase;
}


.navbar-nav .nav-link {
	color: white;
    font-size: 20px;
    font-style: italic;
}

.navbar-nav:hover .nav-link:hover {
	color: #f1ac11;
	text-decoration: underline;
}


.home-inner {
   background-image: url("../img/Fast_Food_Dishes_for_Takeaway_in_Bar_4K_Wallpapers.jpg");
}

.caption {
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 40%;
    z-index: 1;
}

.caption h3 {
    color: #000;
    font-size: 2.4rem;
    text-transform: uppercase;
    padding-bottom: 2rem;
} 

.cards {
	border-radius: 20px;
	margin-top: 80px;
	margin-left: 60px;
	padding: 10px;
	width: 300px;
	background-color: rgba(250, 250, 250, 0.3);
}

.cards:hover {
	background-color: rgba(250, 250, 250, 0.7);
}




.modal-backdrop {
	position: relative;
}


.btn {
	transition: transform .2s; 
    border-width: medium;
    border-radius: 10px;
    text-transform: uppercase;
    padding: .5rem 1.1rem;
    font-size: .9rem;
    background-color: #f1ac11;
    color: #000;
}

.btn:hover {
	color: #000;
	transform: scale(1.1); 
}

.container {
	padding-top: 50px;
	width: 900px;
}

.container h1 {
	padding-bottom: 25px;
	color: #f1ac11;
	text-align: center;
}

.container h4 {
	margin-bottom: 40px;
}

.container a {
	color: #449c5f;
}

.card {
	height: 260px;
}

.card img {
	width: 230px;
	height: 190px;
}

.container2 {
	padding-bottom: 60px;
	padding-top: 60px;
}

.container2 img {
	padding-right: 70px;
	width: 400px;
}


.container2 a {
	color: #000;
}

.find {
	background-image: url("../img/4031.png");
}

.finds {
	color: #fff;
	text-align: center;
	border-radius: 20px;
	margin-bottom: 50px;
	margin-top: 80px;
	padding: 10px;
	width: 300px;
	background-color: rgba(250, 250, 250, 0.3);
}

.contact {
	color: #fff;
	background-image: url("../img/866.png");
}

input {
	padding: 6px 10px;
	border-radius: 5px;
}






.toggles button {
	margin-bottom: 20px;
	border: none;
	transition: transform .2s; 
    border-width: medium;
    border-radius: 10px;
    text-transform: uppercase;
    padding: .5rem 1.1rem;
    font-size: .9rem;
    background-color: #f1ac11;
    color: #000;
}


.toggles button:hover {
	color: #000;
	transform: scale(1.1);
}

.posts {
	width: 90%;
	margin: 0 auto;
}

@media (max-width: 992px) {
	.card h4 {
		font-size: 20px;
	}
	.card {
	height: 240px;
	}
	.card img {
	width: 175px;
	height: 150px;
	}

  .btn {
    font-size: .8rem;
	}

	.caption h3 {
    font-size: 1.8rem;
    }
	.cards {
		margin-left: 100px;
		margin-bottom: -70px;
	width: 260px;
	height: 200px;
	} 

	.container2 img {
	padding-right: 100px;
	width: 400px;
	}
}

@media (max-width: 768px) {
	.contacts {
		display: none;
	}
	input {
		padding: 4px 4px;
	}
	.card h4 {
		font-size: 18px;
	}
	.card {
	height: 210px;
	}
	.card img {
	width: 122px;
	height: 110px;
	}

  .btn {
    font-size: .7rem;
	}

	.caption h3 {
    font-size: 1.3rem;
    }
	.cards {
		margin-left: 200px;
		margin-bottom: -70px;
	width: 220px;
	height: 140px;
	} 
	.container2 img {
	padding-right: 150px;
	width: 380px;
	}
	.container2 h3 {
		font-size: 20px;
	}
}


@media (max-width: 576px) {
	.posts {
		margin-left: 80px;
	}
	.finds {
		margin-left: 60px;
	}
	input {
		padding: 3px 3px;
	}
	.contact h3 {
		font-size: 18px;
	}
	.contact p {
		font-size: 14px;
	}
	.navbar img {
		width: 200px;
	}
	.finds img {
		width: 150px;
	}
	.finds h3 {
		font-size: 18px;
	}
	.finds {
		width: 220px;
	}
	.container2 {
		width: 300px;
	}
	.container {
	width: 350px;
	}
	.card h4 {
		font-size: 18px;
	}
	.card {
		width: 123px;
	height: 200px;
	}

	.btn {
	    font-size: .7rem;
		}

	.caption h3 {
	    font-size: 1rem;
	    }
	.cards {
		margin-left: 100px;
		margin-bottom: -70px;
		width: 160px;
		height: 150px;
	}
	.caption {
		margin-top: -180px;
	}
}







/*--- iOS Landing Page Fix --*/
.landing {
    position: relative;
    width: 100%;
    height: 100vh;
    display: table;
    background: #E9ECEF;
    z-index: -1;
}
.home-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.home-inner {
    position: fixed;
    display: table;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    will-change: transform;
}
